.register-title, .login-title , .forgot-password-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #232323;
    -fx-font-family: "Times New Roman";
}

.button-login, .button-register , .button-submit , .button-save ,.button-back{
    -fx-background-color: #232323;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.button-login:hover , .button-submit:hover , .button-save:hover , .button-register:hover ,.button-back:hover {
    -fx-background-color: #3C3C3C;
    -fx-text-fill: white;
}

.hyperlink {
    -fx-font-size: 12px;
    -fx-text-fill: #232323;
    -fx-padding: 5px 0;
}

.hyperlink:hover {
    -fx-text-fill: #3C3C3C;
}

.button-create-account, .button-already-account {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 1px;
    -fx-border-color: white;
}

.button-create-account:hover, .button-already-account:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.shift-pane {
    -fx-background-color: linear-gradient(to bottom ,#3C3C3C , #232323);
    -fx-padding: 50px;
}

.title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.food-hive-label ,.orderLabel{
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px;
    -fx-text-fill: #ffce1b;
    -fx-font-weight: bold;
    -fx-underline: true;
}

.top-hbox-style , showRestaurant ,restaurantBox{
    -fx-background-color: linear-gradient(to bottom ,#3C3C3C , #232323);
}

.button-style {
    -fx-pref-width: 150px;
}

.vbox-style {
    -fx-spacing: 20px;
    -fx-padding: 20px;
    -fx-alignment: center;
}

.vbox1-style, .vbox2-style, .vbox3-style ,.show-restaurant-style , .categories-style {
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-background-color: linear-gradient(to bottom ,#3C3C3C , #232323);
}

.table-view {
    -fx-pref-height: 350px;
    -fx-max-height: 350px;
}

.vbox-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.restaurants-button,
.categories-button,
.home-button,
.payButton,
.backButton {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.restaurants-button:hover,
.categories-button:hover,
.home-button:hover,
.payButton:hover,
.backButton:hover {
    -fx-background-color: #ffce1b;
    -fx-text-fill: #333;
}

.minus-button , .plus-button{
    -fx-background-color: transparent;
    -fx-text-fill: #ffce1b;
    -fx-font-size: 20px;
    -fx-padding: 5px 10px;
    -fx-font-weight: bold;
}

.restaurantBox {
    -fx-border-color: white ;
    -fx-border-width: 4;
    -fx-background-color: linear-gradient(to bottom ,#3C3C3C , #232323);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.2, 0, 0);
    -fx-padding: 10;
    -fx-transition: all 0.10s ease-in-out;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.restaurantBox:hover {
    -fx-background-color: #5A5A5A;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0.3, 0, 5);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-translate-y: -5;
}

.nameLabel {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.nameLabel:hover {
    -fx-background-color:  #ffce1b;
    -fx-text-fill: #333;
}

.categories-comboBox {
    -fx-background-color: red;
    -fx-font-size: 12px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.categories-comboBox .text-field .prompt-text {
    -fx-fill: white;
}
