.register-title, .login-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #00695c;
    -fx-font-family: "Times New Roman";  /* Corrected font-family property */
}

.button-login, .button-register {
    -fx-background-color: #00695c;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.button-login:hover, .button-register:hover {
    -fx-background-color: #004d40;
    -fx-text-fill: white;
}

/* Hyperlink Styling */
.hyperlink {
    -fx-font-size: 12px;
    -fx-text-fill: #00695c;
    -fx-padding: 5px 0;
}

.hyperlink:hover {
    -fx-text-fill: #004d40;
}

.button-create-account, .button-already-account {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 1px;
    -fx-border-color: white;
}

.button-create-account:hover, .button-already-account:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.shift-pane {
    -fx-background-color: #00695c;
    -fx-padding: 50px;
}

.title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}